/* SECTION-HERO-ABOUTME */
  

#hero{
    margin: 10px;
}

@mixin medidias($margin-top, $padding,) {
    padding:$padding;
    margin-top:$margin-top;
}

#hero h2 {
    @include medidias(1px 12px,40px);
}


#hero h2{
    color: rgb(44, 44, 44);
    text-align: center;
    padding: 1px 12px ;
    font-size: 27px;
    margin:20px;
}


#hero .container-hero {
    display: flex;
    
}


#hero .titulo-texto{
    width: 50%;
    text-align: justify;
    margin-left: 9px;

}


#hero .container-hero .texto {
    color:rgb(97, 96, 96);
    
}

.carousel-item {
    padding: 30px;
    height: 400px;
    width: 600px;
    margin-bottom: 30px;
}

.more-information {
    margin-top: 20px;
    margin: 20px;
    color:rgb(97, 96, 96);
}

.more-information h2 {
    color: rgb(44, 44, 44);
    margin-bottom: 15px;
    margin-top: 60px; 
    font-size: 24px;
}



.more-information p {
    text-align: justify;
}
