* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(240, 240, 240);
    font-family: 'Montserrat', sans-serif;
}


/* HEADER */

header{
    background-color:rgb(44, 44, 44);
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    display: block;
    
}

.container-fluid{
    padding-right:0px;
    padding-left: 0px;
    color: rgb(228, 228, 228);
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.navbar-brand {
    margin: 10px;
    transition: opacity 400ms;
    font-weight: bold;
    font-size: 20px;
    color: rgb(228, 228, 228);
}

.navbar-brand:hover{
    opacity: 0.15 ;
    color: grey;
}


.nav-transition a{
    transition: opacity 400ms;
    margin-right: 20px;
    font-size: 13px;
}

.nav-transition a:hover{
    opacity: 0.15;
}

/* SECCION-PRINCIPAL */


#section-principal{
     color: rgb(228, 228, 228);
}

.container {
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: table-cell;
}

video{
    max-width: 100%;
}

.title-section{
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 41%;
    font-size: 20px;
    
}
.title-section h2 {
    font-weight: bold;
    font-size: 25px;
}

.title-section h4{
    font-size: 20px;
}

/* SECTION LET-ME */


#section-letMe {
    margin-top:20px ;
    margin: 10px;
}


.titulo-let {
    color: rgb(44, 44, 44);;
    margin: 100px;
    text-align: center;
    font-size: 25px;
}


.letme{
    display: grid;
    grid-template-columns: auto auto;
}



.letme p {
    margin: 10px;
    display: flex;
    text-align: justify;
    width: 40%;
    float: left;
    color:rgb(97, 96, 96)
}


/* imagen centrada */

div .img-me {
    width: 275px;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 15px;
}

#hobbies {
    margin: 70px;
    display: flex;
    justify-content: center;
    
}

#hobbies ul li {
    display: inline-block; 
     
}

#hobbies ul li a{
    transition: color 400ms, margin 1s
}

#hobbies ul li a:hover{
    color: rgb(199, 144, 42) ;
    margin: 17px;
}

.lista {
    list-style: none;
    display: flex;
    font-size: 15px;
}

#hobbies ul li a {
    line-height: 10px;
    padding: 12px 30px;
    color:rgb(44, 44, 44); ;
    text-decoration: none;
    text-align: center;
}

#hobbies h3 {
    font-size: 20px;
}


/* SECTION-HERO-ABOUTME */
  

#hero{
    margin: 10px;
}

#hero h2{
    color: rgb(44, 44, 44);
    text-align: center;
    padding: 1px 12px ;
    margin-top: 20px;
    margin: 40px;
    font-size: 27px
}


#hero .container-hero {
    display: flex;
    
}


#hero .titulo-texto{
    width: 50%;
    text-align: justify;
    margin-left: 9px;

}


#hero .container-hero .texto {
    color:rgb(97, 96, 96);
    
}

#hero .img-container {
    background-image: url(img/setup-1.jpg);
    background-size: cover;
    background-position: center center;
    padding: 30px;
    height: 400px;
    width: 550px;
    border-radius: 10px;
}

.more-information {
    margin-top: 20px;
    margin: 20px;
    color:rgb(97, 96, 96);
}

.more-information h2 {
    color: rgb(44, 44, 44);
    margin-bottom: 15px;
    margin-top: 60px; 
    font-size: 24px;
}

.more-information p {
    text-align: justify;
}

/* SECTION-LENGUAGES */



#section-lenguages{
    color:rgb(44, 44, 44); ;
    text-align: center;
    margin: 10px;
    padding: 50px;  
}

#section-lenguages h2{
    margin: 40px;
    margin-top: 2px;
    font-size: 27px
}


#section-lenguages img{
    background-size: cover;
    background-position: center ;
    padding: 40px;
    height: 180px;
    transition: margin 0.7s;
    margin-top:20px ;
}

#section-lenguages img:hover{
    margin: 20px;
}


#descripcion {
    margin: 10px;
    color:rgb(97, 96, 96);
    text-align: justify;
}

#descripcion h3{
    padding: 10px;
    text-decoration:overline;
    margin-top: 10px;
    font-size: 21px;
    color: rgb(44,44,44);
    font-weight: bold;
}



/* SECTION - MY PROJECT */



#mis-proyectos {
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 10px;
}


.titulo h2 {
    text-align: center;
    padding: 20px;
    margin: 40px;
    width: auto;
    margin-bottom: 50px;
    font-size: 27px
}

.title-proyectos{
    margin: 20px;
    text-align: left;
    font-size: 22px;
    text-decoration: overline;
    font-weight: bold;
}



.Parrafo1{
  display: flex;
  padding: 10px;
  text-align: justify;
  color:rgb(97, 96, 96);
}



div .img-myProjects{
    float: right;
    height: 400px;
    width: 600px;
    border-radius: 15px;
    margin: 10px;
    margin-top: 0;
}


.title-proyectos2{
    margin: 20px;
    text-align: justify;
    font-size: 22px;
    text-decoration: overline;
    font-weight: bold;
}


.Parrafo2{
  display: flex;
  padding: 10px;
  text-align: left;
  color:rgb(97, 96, 96);
}



div .img-myProjects2{
    float: left;
    margin: 10px;
    height: 400px;
    width: 600px;
    border-radius: 15px;
    margin-top: 0;
}

/* CONTACT */


.title-contact{
    text-align: center;
    padding: 20px;
    margin: 40px;
    width: auto;
    font-size: 27px
}

.form {
    background-color: rgb(190, 190, 190);
    width: 600px;
    position:relative;
    top: 50%;
    left: 26%;
    align-items: center;
    /* border: 2px black solid; */
    border-radius: 10px;
    margin: 20px;
    box-shadow: 7px 10px 20px black;
}

.form-label{
    font-size: 1,2rem;
    padding: 8px;
    text-decoration:overline;

}

#buttom{
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.30s;
}

#buttom:hover{
    background-color: rgb(152, 152, 152);
}


.boton-enviar {
    margin-left: 255px;
   
}



/* FOOTER */

footer{
    background-color:rgb(44, 44, 44);
    color: rgb(228,228,228);
}



footer p {
    text-align: center;
    font-size: 15px;
    padding: 8px;
    display: flex;
    justify-content: center;
}

footer nav {
    align-items: center;
}

footer nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

footer nav ul img{
    color: rgb(228,228, 228);
    background-size: center;
    background-position: center;
    margin: 10px;
    height: 20px;
}

p {
    margin-bottom: 0;
}

ol, ul {
    padding-left: 0;
}

/* MEDIA QUERIE */



@media screen and (max-width: 768px) {
    header{
        display: block;
    }
    
    header nav ul li a {
        padding: 8px;
    }

    .container {
        height: 70vh;
        width: 100vw;
    }
    .title-section {
        top: 30%;
        left: 37%;
        font-size: 12px;
    }

    .titulo-let{
        margin:60px;
        text-align: center;
    }

    #hero{
        margin: 0;
    }

    #hero .container-hero { 
        display: block;
    }

    #hero .titulo-texto{
        width: 100vh;
        text-align: justify;
    }

    #hero .container-hero .texto {
        color: black;
    }

    #hero .img-container {
        background-image: url(img/setup-1.jpg);
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 100vh;
        max-width: 100%;
    }

    .form{
        left: 80px;
    }

   
}

@media screen and (max-width: 426px) {
    header {
        font-size: 10px;
    }
    header nav ul li a {
        padding: 7px;
    }
    .container {
        height: 40vh;
        width: 100vw;
    }
    .title-section {
        top: 24%;
        left: 28%;
        font-size: 0.rem;
    }
    .letme p {
        margin: 10px;
        text-align: justify;
        width: 100%;
        font-size: 12px;
    }
    div .img-me {
        width: 100%;
        height: auto;
        margin: auto;
        display: block;
    }
    #hobbies ul li a {
        padding: 20px;
    }

    .form{
        left: 25px;
        width: 350px;
    }

    .boton-enviar {
        margin-left: 130px;
    }

    
}

    
